# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# Local backups
data_backup/

# Local machine-specific file
requirements_mac.txt